// bower:scss
// @import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/AvenirNextLTPro-Light.eot');
  src: url('../fonts/AvenirNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro-Light.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-Light.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-Light.ttf') format('truetype'),
    url('../fonts/AvenirNextLTPro-Light.svg#AvenirNextLTPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/AvenirNextLTPro-Regular.eot');
  src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'),
    url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/AvenirNextLTPro-Bold.eot');
  src: url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype'),
    url('../fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}



$avenir: 'Avenir Next LT Pro', helvetica, arial, sans-serif;

$orange: #E3B40C;
$text-color: #515151;
$white: #FFF;
$light-grey: #CBCBCB;
$bg-main: #F5F5F5;
$grey: #D8D8D8;
$gold: #DFB83D;
$nav-height: 68px;
$lg-header-height: 345px;

$med-breakpoint: 780px;
$small-breakpoint: 480px;
$banner-time: 0.25s;
html {
  box-sizing: border-box;
  font-family: $avenir;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $text-color;
  background-color: $bg-main;
  margin: 0;
  margin-bottom: 400px;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: $text-color;
  transition: color .2s ease-in-out 0s;
}

svg {
  width: 100%;
}
header {
  position:relative;
  width: 100%;
  z-index: 10;
}

h1, h2, h3, h4, h5, h6 {
}

.cf:after {
    content:" ";
    display:block;
    clear:both;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.close-icon, .info-icon {
  z-index: 20;
  cursor: pointer;
  position: absolute;
  background-color: $grey;
  border-radius: 666%;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  color: $white;
  &:hover {
    color: $text-color;
  }
}
.close-icon {
  top: 1rem;
  right: 1rem;
}
.info-icon {
  font-family: Garamond, serif;
  font-weight: bold;
  font-style: italic;
  bottom: 1rem;
  right: 1rem;
  border: 3px solid $white;
}
.header-sm, .header-lg {
  background-color: rgba($white, 0.95);
  position: absolute;
  left: 0;
  right: 0;
}
.header-lg {
  text-align: center;
  font-weight: 300;
  font-size: 45px;
  padding: 16px;
  height: $lg-header-height;
}
.header-sm {
  bottom: 0;
  height: $nav-height;
  text-align: right;
  opacity: 0;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}

.logo {
  position: relative;
  // padding-bottom: 0.5rem;
  margin: 1rem auto;
  max-width: 400px;
}
.logo-sm {
  position: absolute;
  left: 72px;
  top: 10px;
  width: 152px;
}

.logo-title {
  font-size: 1.375rem;
  position: absolute;
  font-weight: normal;
  bottom: -4px;
  left: 0;
  right: 0;
}
.color-change, .color-change-stroke {
  transition: all 2s ease-in-out 0s;
}

nav {
  position: relative;
  z-index: 10;
  height: $nav-height;
  text-align: right;
  font-size: 17px;
  padding: 24px 72px;
  li {
    display: inline-block;
    margin: 0 1.5rem;
    position: relative;
    a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: $gold;
      visibility: hidden;
      transform: scaleX(0);
      transition: all .2s ease-in-out 0s;
    }
    & a:hover {
      //color: $orange;
      &:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }

  }
}
.content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  padding: 20px;
}

.thumbnail {
  position: relative;
  display: inline-block;
  border: 5px solid $white;
  height: 290px;
  margin: 12px;
  img {
    height: 100%;
    width: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.85);
    opacity: 0;
    transition: opacity .2s ease-in-out 0s;
    &:hover {
      opacity: 1;
    }
  }
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 9px 12px;
    letter-spacing: 0.5px;
  }
}
.title {
  text-transform: uppercase;
  font-weight: bold;
}

.svg-draw {
  box-sizing: content-box;
  background: #fff;
  h1 {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    transition: opacity 1s ease-in-out 0s;
    padding: inherit;
  }
  svg {
    position: relative;
    z-index: 10;
  }
  &:hover h1 {
    opacity: 0.3;
  }
}
.spacer {
  height: $lg-header-height;
  transition: height $banner-time ease-out 0s;
}
.spacer.small {
  height: $nav-height;
}

.gallery {
  padding: 1rem;
  overflow-y: scroll;
  white-space: nowrap;
}
.row {
  // padding: 0.5rem;
}

.main-image {
  position: relative;
  margin: 0 auto;
  width:100%;
  border: 5px solid $white;
  img {
    display: block;
    width: 100%;
  }
}
.project-image {
  float: left;
  border: 5px solid $white;
  width: 48.75%;
  height: auto;
  margin-top: 2.5%;
  &:nth-child(2n) {
    float: right; 
  }
  img {
    display: block;
    width: 100%;
  }
}
.description {
  position: absolute;
  width: 40%;
  font-size: 15px;
  background-color: rgba($white, 0.95);
  left: 55%;
  bottom: 5%;
  padding: 40px 35px 35px 35px;
  opacity: 1;
  transition: opacity $banner-time ease-out 0s;
  .title {
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
  }
}
.fade-out {
  opacity: 0;
}

footer {
  font-size: 14px;
  position:fixed;
  bottom: 0;
  padding: 16px 0 12px 48px;
  width: 100%;
  font-weight: 300;
  color: $light-grey;
  background-color: $text-color;
}

// @keyframes bounce {
//   0%, 20%, 50%, 80%, 100% {
//     transform: translateY(0);
//   }
//   40% {
//     transform: translateY(-5px);
//   }
//   60% {
//     transform: translateY(-3px);
//   }
// }

@keyframes bounce {
  0%, 92%, 95%, 98%, 100% {
    transform: translateY(0);
  }
  94% {
    transform: translateY(-5px);
  }
  96% {
    transform: translateY(-3px);
  }
}

.header-icon {
  position: relative;
  bottom: 12px;
  width:30px;
  height: 30px;
  animation:bounce 5s infinite;
  margin: 0 auto;

  svg {
    max-width: 100%;
    polygon {
      stroke: $text-color;
    }
  }
}


@media (max-width: $med-breakpoint) {
  .content {
    width: 100%;
  }
  nav li {

  }
  .header-lg {
    font-size: 2rem;
  }
  .project-image {
    width: 100%;
    height: auto;
  }
}
@media (max-width: $small-breakpoint) {
  nav li {
    margin: 0 0.5rem;
  }
  .logo-title {
    font-size: 1rem;
  }
  .header-lg {
    font-size: 1.5rem;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
