extends ../../layouts/default

block header
  include ../../mixins/mixins

  +headerSm()


block content

  include ../../mixins/mixins
  -
    var item;
    for (var i = 0; i < portfolioData.atelier.length; i++) {
      if (portfolioData.atelier[i].title === "Resinance") {
        item = portfolioData.atelier[i];
      }
    }
  +project(item)