extends ../layouts/default

block content

  include ../mixins/mixins  
  - var data1 = portfolioData.design.slice(0, Math.floor(portfolioData.design.length / 2))
  - var data2 = portfolioData.design.slice(Math.floor(portfolioData.design.length / 2))
  +gallery(data1, data2)