extends layouts/default

block header
  include mixins/mixins

  +headerLg()

block content

  include mixins/mixins

  - var data1 = portfolioData.design.slice(0, Math.floor(portfolioData.design.length / 2)).concat(portfolioData.atelier.slice(0, Math.floor(portfolioData.atelier.length / 2)))
  - var data2 = portfolioData.design.slice(Math.floor(portfolioData.design.length / 2)).concat(portfolioData.atelier.slice(Math.floor(portfolioData.atelier.length / 2)))
  +gallery(data1, data2)
  +mobileGallery(portfolioData.design.concat(portfolioData.atelier))