doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title aprodaniuk
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->
    header
      .jumbotron
        .logo
          img(src='images/AP-Mascot_FPO.png', alt='Alex Prodaniuk')
          span.logo-title Alex Prodaniuk
        | Agile. Color obsessed. Designer
        br
        | of intelligent things.  
      nav
        ul.nav-list
          .logo-sm
            img(src='images/AP-Mascot_sm.png', alt='Alex Prodaniuk')
          li
            a(href='#') Design
          li
            a(href='#') Atelier
          li
            a(href='#') About
      .close-icon x
    .spacer
    main
      block content
    // build:js scripts/vendor.js
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
