doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title aprodaniuk
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css /styles/main.css
    link(rel='stylesheet', href='/styles/main.css')
    // endbuild
    // build:js /scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->
    header
      .header-lg
        a(href='/')
          .logo
            //- img(src='/images/AP-Mascot_FPO.png', alt='Alex Prodaniuk')
            include ../mixins/octo.jade
            span.logo-title Alex Prodaniuk
        | Agile. Color obsessed. Designer
        br
        | of intelligent things.
        .header-icon
          | <svg version="1.1" viewBox="0 0 50 50" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect fill="none" height="50" width="50"/><polygon points="47.25,15 45.164,12.914 25,33.078 4.836,12.914 2.75,15 25,37.25 "/></svg>
      .header-sm
        nav
          ul.nav-list
            a(href='/')
              .logo-sm
                //- img(src='/images/AP-Mascot_sm.png', alt='Alex Prodaniuk')
            li
              a(href='/design/') Design
            li
              a(href='/atelier/') Atelier
            li
              a(href='/about/') About
    .spacer
    script var octo = document.querySelector('.logo svg'); document.querySelector('.logo-sm').appendChild(octo.cloneNode(true));
    main
      block content
    footer
      | © Alex Prodaniuk 2016
    // build:js scripts/vendor.js
    // endbuild
    // build:js /scripts/main.js
    script(src='/scripts/main.js')
    // endbuild
